/*
	Sender3
	Dennis Oswald
*/

@import "main.css";

body {
	background-color: #FFFFFF;
}

p {
	color: #ffffff;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
	color: #000000;
}

a:active {
    color: #000000;
}

#logo {
	filter: invert(0%);
}
	
#content {
	border-color: black;
	filter: invert(100%);
}