/*
	Sender3
	Dennis Oswald
*/

@import "main.css";

body {
	background-color: #000000;
}

p {
	color: #FFFFFF;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

#logo {
	filter: invert(100%);
}

#album{
	border-color: white;
	filter: invert(0%);
}
